/* FaqComponent.css */

.container {
  display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
  align-items: center;
  }
.category-container{
  margin-bottom: 20px;
}
  h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
.category {
    background-color: #6aacf3;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    height: 40px;
    text-align: center;
  }
  .selected {
    background-color: #27323d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
.colorbar{
  
    background-color:rgba(33, 170, 158, 1) ;
    height: 30px;

}
  
  /* CollapsibleQuestion component styles (optional) */
  /* You can style the CollapsibleQuestion component separately if needed */
.faq {
  width: 100%;
  border: 0.5px solid #ccc;
  border-radius: 15px;
  margin-bottom: 5px;
}
  .question {
    font-size: 18px;
    width: 100%;
    outline: none;
    background-color: #fff;
    text-align: left;
    /* font-weight: bold; */
    /* margin: 5px; */
    border: 0.5px solid black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .answer {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
  }
  