

.member{
    display: flex;
    max-width: max-content;
    border-radius: 15px;
    max-height: max-content;
    padding: 4px 8px;
    overflow: hidden;
    color: white;
    padding-bottom: 5px;
    background-color:  #404040;
    flex-direction: column;
}
.dotted-line{
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
}
.dotted-line .dot{
    width: 10px;
    height: 3px;

}
.dotted-line .dotr{
    width: 10px;
    height: 3px;

}
.dotted-line .dot_p{
    width: 10px;
    height: 3px;
}

.desc{
    display: flex;
    gap: 10px;
    margin: auto;
    padding: 5px 10px;
    overflow: hidden;
    justify-content: center;
}

img{
    object-fit: cover;
    overflow: hidden;
    border-radius: 22px ;
    height: 90px;
    width: 90px;
}
.member-info{
    padding-right: 2px;
    margin: auto;
    justify-content:center;
    display: flex;
    flex-direction: column;
}
.call{
    display: flex;
    gap: 8px;
    height: 23px;
    line-height: 12px;
    vertical-align: middle;
    color: aliceblue;
}
.email{
    display: flex;
    gap: 8px; 
    height: 23px;
    line-height: 12px;
    vertical-align: middle;
    color: aliceblue;
}
.email1{
    display: flex;
    gap: 8px; 
    height: 23px;
    line-height: 12px;
    vertical-align: middle;
    color: aliceblue;
}
.email_r{
    display: flex;
    gap: 8px; 
    height: 23px;
    line-height: 12px;
    vertical-align: middle;
    color: aliceblue;
}
.email1_r{
    display: flex;
    gap: 8px; 
    height: 23px;
    line-height: 12px;
    vertical-align: middle;
    color: aliceblue;
}
.email div{
    height: 1em;
    width: 1em;
}
.email1 div{
    height: 1em;
    width: 1em;
}
.email1_r div{
    height: 1em;
    width: 1em;
}
.icon{
    display: none;
}


@media screen and (max-width:750px) {
    .call_p{
        display: none;
    }
    .desc_p{
        flex-direction: column;
    }

    .dotted-line .dot_p{
        width: 7px;
        gap:4px

    }
    .dotted-line_p{
        gap: 3px;
    }
    .email_r,.email1_r,.email1{
        display: none;
    }
    .member h5{
        font-size: medium;
    }
    .icon{
        display: flex;
        height: 40px;
        background-color: rgba(33, 170, 158, 1);
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 13px;
        width: 40px;
    }
    .mobile{
        display: flex;
        gap: 20px;
        
    }
    .member,.member_p{
        gap: 8px;
        padding: 11px 9x;
    }
    
}

