#logo {
  width: 7.30925rem;
  height: max-content;
}
.navigation-bar,.offcanvas {
  background: rgba(33, 170, 158, 1);
}
.nav-link {
  color: white;
  font-family: Poppins;
  font-weight: 800;

}
.active {
  color: #fff!important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  text-decoration-line: underline;
}
.offcanvas-body .active{
  background-color: rgba(54, 102, 98, 1)!important;
  color: #fff!important;
  font-weight: 800;
}
#carousel{
  padding-bottom:  6.13375rem;
}
.navigation-bar .img{
  height: min-content;
  border-radius: 0;
}
@media only screen and (max-width: 600px) {
  #carousel{
    padding-bottom:  1.13375rem;
  }
  .navigation-bar .offcanvas-body{
    padding-left: 0;
  }
  .navigation-bar ul{
    margin-left: 0rem;
  }
  .active{
    text-decoration: none;
  }
}


