/* #logo {
  width: 7.30925rem;
  height: auto;
}
.navigation-bar,.offcanvas {
  background: rgba(33, 170, 158, 1);
}
.nav-link {
  color: white;
  font-family: Poppins;
  font-weight: 800;

}
.active {
  color: #fff!important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  text-decoration-line: underline;
}
.offcanvas-body .active{
  color: #fff!important;
  font-weight: 800;
}
#carousel{
  padding-bottom:  6.13375rem;
}
.navigation-bar .img{
  height: auto;
  width:100%;
  border-radius: 0;
}
img{
  height: auto;
}
@media only screen and (max-width: 600px) {
  #carousel{
    padding-bottom:  1.13375rem;
  }
  .navigation-bar .offcanvas-body{
    padding-left: 30px;
  }
  .navigation-bar ul{
    margin-left: 0rem;
  }
  .active{
    text-decoration: none;
  }
}

 */
#carousel img{
  height: auto;
  border-radius: 0rem;
}
#carousel{
  background-color:rgba(33, 170, 158, 1) ;
}
@media screen and (min-width: 700px) {
  .navbar{
    display: flex;
    flex-direction: row;
    background-color: rgba(33, 170, 158, 1);
  }
  .navbar .links{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar #Logo{
    width:7rem;
    height: auto;
    border-radius: 0rem;
  }
  .navbar .nav-link{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .navbar .activ{
    text-decoration: underline;
  }
  #carousel{
    padding-bottom:  6.13375rem;
  }
}
@media  screen and (max-width:700px) {
  .navbar{
    display: flex;
    flex-direction: row;
    background-color: rgba(33, 170, 158, 1);
    justify-content: space-between;
    position: relative;
  }
  .navbar #Logo{
    width:7rem;
    height: auto;
    border-radius: 0rem;
  }
  .navbar .no-show{
    display: none;
  }
  .navbar #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    align-self: center;
    margin-right: 20px;
  }
  .navbar .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 2.6px 0;
  }
  .navbar .links:not( .no-show){
    padding-top: 1rem;
    position: fixed;
    top:0;
    right: 0;
    height:100vh;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgba(33, 170, 158, 1);
    z-index: 10;
    gap:8px;
    box-shadow: -4px 4px 12px 3px rgba(0, 0, 0, 0.25);
  }
  .navbar .nav-link{
    padding-left: 1rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .navbar .activ{
    background-color: rgba(54, 102, 98, 1);
    width: 100%;
  }
  .navbar .close{
    align-self: end;
    margin-right: 1rem;
  }
  #carousel{
    padding-bottom:  1.2rem;
  }
  
}