.Card{
    width: 19.5rem;
    height: 28.5rem;
    border-radius: 3.06688rem;
    background: #FFF;
    margin:10px;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image{
    width: 4.6rem;
    height: 4.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#heading{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom:1rem;
}
#text{
    color: #000;
text-align: center;
font-family: Raleway;
font-size: 0.9rem;
font-style: normal;
font-weight: 300;
line-height: 140%;
letter-spacing: 0.07363rem;
overflow: auto;
width: 15.99763rem;
background: -webkit-linear-gradient( #333,#928e8e);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



#boardunitstext{
    color: #FFF;
font-family: Poppins;
font-size: 3.2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
writing-mode: vertical-rl;
transform: scale(-1,-1);
}
.outerboardunits{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    background: #21AA9E;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 3rem;
}
.innerboardunits{
    display: flex;
    flex-direction: row;
}
.boardunitstextcoantianer{
  white-space: nowrap;
  width: fit-content;
  height: max-content;
  flex-shrink: 0;
}
.containerboardunits{
    display: flex;
    justify-content: end;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 700px){
    .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.6);
        margin-left:5px;
        margin-right:5px;
        margin-bottom: 10px;
      }
      .carousel-dots .active .circle{
        background-color: rgba(255, 255, 255, 1);
      }
      .hidden{
        display: none;
      }
      .carousel-dots{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    .outerboardunits{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        border-radius: 1.5rem;
    }
    #boardunitstext{
        transform: scale(1,1);
        writing-mode: horizontal-tb;
        font-size: 2rem;
        padding-top: 1rem;
    }
}